<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/feed"></ion-back-button>
      </ion-buttons>
    <ion-title>Types of Anxiety</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'  fullscreen="true" slot="fixed"  class="background">
  <ion-card>
    <ion-card-header>
     Generalized Anxiety Disorder
    </ion-card-header>
    <ion-card-content>
     GAD is a generalized anxiety disorder where a condition of anxiety characterized by persistent anxiety, excessive anxiety , and stress, even though there is little or nothing to cause for at least 6 months. Fear and anxiety in areas of their lives, such as social interactions, education, and work, can trigger serious problems.
    </ion-card-content>
  </ion-card>

 <ion-card>
    <ion-card-header>
     Panic attacks and panic disorder
    </ion-card-header>
    <ion-card-content>
    People with panic disorder are having frequent sudden panic attacks. Panic attacks are unexpected bursts of extreme panic that easily come on and hit their peak in minutes. Attacks can occur unexpectedly, or a trigger such as a feared object or situation can trigger them.
    </ion-card-content>
  </ion-card>


<ion-card>
    <ion-card-header>
    Obsessive-compulsive disorder (OCD)
    </ion-card-header>
    <ion-card-content>
   Unwanted thoughts or behaviours that seem impossible to stop or control are characterized by obsessive-compulsive disorder (OCD). Whether you have OCD, you may be plagued by obsessions, such as a persistent fear that you have failed to shut off the oven, or that you may be hurting someone. You can also suffer from uncontrollable compulsions, such as constantly washing your face.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
   Phobias
    </ion-card-header>
    <ion-card-content>
A phobia is an absurd or overblown fear of a given object, activity, or situation that presents little to no danger in reality. You may go to great lengths in the case of a serious phobia to escape the object of your fear. Alas, avoidance only increases the phobia. 
There are four types of general phobias and fears which are animal phobias like fear of snakes, spiders, insects, dogs, etc. Next, phobias of natural environment such as fear of the heights, winds, wind, and the darkness. Besides, situational phobias (including fear of confined areas (claustrophobia), walking, driving, tunnels and bridges. Lastly, blood-injection-Phobia of injury, fear of blood, injury , disease, syringes or other surgical treatments.

    </ion-card-content>
  </ion-card>



<ion-card>
    <ion-card-header>
   Social anxiety disorder
    </ion-card-header>
    <ion-card-content>
Social anxiety disorder involves intense fear of certain social interactions especially unfamiliar scenarios. Such scenarios can be so terrifying you get nervous just to think about them or go to great lengths to stop them, compromising your life in the process.
    </ion-card-content>
  </ion-card>



<ion-card>
    <ion-card-header>
  Post-traumatic stress disorder (PTSD)
    </ion-card-header>
    <ion-card-content>
Post-traumatic stress disorder (PTSD) is an intense anxiety disorder that may occur following a life-threatening or traumatic event. PTSD can be considered as a panic attack that rarely, if ever, lets itself out. PTSD will leave you trapped with a persistent sense of threat and painful memories.
    </ion-card-content>
  </ion-card>




  <ion-row>


    <ion-col width-50 style="text-align: center">
  </ion-col>

 </ion-row>
</ion-content>