<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed"  padding class="background">



  <div class="ion-text-justify">


<h3 style="text-align: center">Need someone to talk to? </h3>
  <h4 style="text-align: justify">We connecting you to Befriender hotline call without charge with well trained person to listen to your problems.</h4>
 <h4 style="text-align: justify"> Befrienders is a not-for-profit organisation providing emotional support 24 hours a day, 7 days a week, to people who are lonely, in distress, in despair, and having suicidal thoughts.
  </h4>






  </div>
   <!-- fab placed to the center -->
   <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="warning"  (click)="callNow('0376272929')">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>
    </ion-content>