ion-slide {
    padding: 160px 20px 160px 20px;
    display: block;
    height: 100%;
    img {
    max-width: 60%;
    max-height: 80%;
    }
    h2 {
    font-size: 26px;
    font-weight: bold;
    }
    background-color: #2f455c;
    }