<ion-header> 
  <ion-toolbar color="mango">
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mango">
  <form>
    <p class="text-center">Please enter your email address to request a password reset.</p>
    <ion-list>
    <ion-item class="background" color="mango">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" class="formControl"  #passwordResetEmail required></ion-input>
    </ion-item>
    </ion-list>
    <div class="formGroup">
      <ion-button color="endxiety" type="submit" value="Reset Password" shape="full" expand="round" (click)="authService.PasswordRecover(passwordResetEmail.value)"> Reset Password</ion-button>
    </div>
    <div class="redirectToLogin">
      <ion-button shape="full" expand="round" href="/login" color="mango">Login</ion-button>
    </div>
</form>
</ion-content>