<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>Endxiety</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed"  padding class="background">
   
  
    <div class="ion-text-justify">
      <h1>Having anxiety attack?</h1>
      <h1>Press the button and click on</h1>
      

<h3>Music for mind relaxation</h3>
<h3>Notes for breathing exercise and coping technique</h3>
<h3>Phone for  Befrienders hotline emotional support.</h3>

    <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="danger"> 
      <ion-icon name="medkit"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
    <ion-fab-button (click)="nextpage1()"><ion-icon name="musical-notes-outline"></ion-icon>></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom"> 
    <ion-fab-button (click)="nextpage2()"><ion-icon name="document-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
    <ion-fab-button (click)="nextpage3()"><ion-icon name="call-outline"></ion-icon></ion-fab-button>
    </ion-fab-list> 
    </ion-fab>

