<ion-header  translucent no-border>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content fullscreen="true" slot="fixed"  padding class="background">

    
  <ion-card>
       <img src="assets/images/editedwia.png"/>
       <ion-button href="/feed1" fill="clear" >Click Here</ion-button>
       
       
  </ion-card>

  <ion-card>
    <img src="assets/images/editedtoa.png"/>
    <ion-button href="/feed2" fill="clear">Click Here</ion-button>
    
</ion-card>


<ion-card>
  <img src="assets/images/editednewsoa.png"/>
  <ion-button href="/feed3" fill="clear">Click Here</ion-button>
</ion-card>

</ion-content>