<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/feed"></ion-back-button>
      </ion-buttons>
    <ion-title >What is Anxiety</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'  fullscreen="true" slot="fixed" class="background" >


  <ion-card>
    <ion-card-header >
      Anxiety
    </ion-card-header>
    <ion-card-content>
      <ion-text>
    Anxiety is a natural danger reaction, an automatic fight-or - flight reaction from the body that is activated when you feel threatened, under pressure, or experience a difficult situation, such as a job interview, test, or first date. Anxiety is not always a negative thing, with moderation. This will help you stay alert and concentrated, inspire action and encourage problem solving.
    </ion-text>
  </ion-card-content>
  </ion-card>


  <ion-card> 
    <ion-card-header>
      Anxiety Disorder
    </ion-card-header>
    <ion-card-content>
        Constant or overwhelming normal anxiety that might interfere one’s daily life could lead to anxiety disorder. Since anxiety disorders are not a single disorder but a group of related conditions, symptoms can vary slightly. One individual may suffer from extreme anxiety attacks that occur without warning, while another gets panicky at a crowded place. Another may be dealing with an impaired fear of driving, or uncontrollable, distracting thoughts.
    </ion-card-content>
  </ion-card>


 <ion-card>
    <ion-card-header > 
      Anxiety Attack
    </ion-card-header>
    <ion-card-content>
     Anxiety attack are episodes of intense panic that could be happen because of trigger factor or just out of blue without warning. Anxiety attack usually last within 10 minutes and rarely 30 minutes. After one episode of anxiety attack could be led to another anxiety attack within period of time if one’s did not really overcome the fear commonly in public area where one’s feel cannot escaped. There are few physical symptoms of anxiety attacks that could be recognized. 
    </ion-card-content>
  </ion-card>


  <ion-row>
    <ion-col width-50 style="text-align: center">
      
  </ion-col>
  </ion-row>


</ion-content>