<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Focus Coping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed"  padding class="background">
   
  
  <ion-card>
   
  
          <ion-card-header>
            	5-4-3-2-1 Coping Technique for Anxiety
          </ion-card-header>
        <ion-card-content>

          <ion-list>
            <ion-item >
            <ion-icon name="eye-sharp"></ion-icon>
             Acknowledge 5 things you see 
            </ion-item>
      
            <ion-item>
              <ion-icon name="hand-left-sharp"></ion-icon>
              Acknowledge 4 things you can touch 
            </ion-item>
      
            <ion-item>
              <ion-icon name="ear-sharp"></ion-icon>
              Acknowledge 3 things you hear
            </ion-item>
      
            <ion-item>
              <ion-icon name="leaf-sharp"></ion-icon>
            Acknowledge 2 things you can smell
            </ion-item>
      
            <ion-item>
              <ion-icon name="fast-food-sharp"></ion-icon>
            Acknowledge 1 thing you can taste
            </ion-item>
   </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
