<ion-header>
  <ion-toolbar color="mango">
   
  </ion-toolbar>
</ion-header>

<ion-content color="mango">
  <img src="assets/images/logo.png" class="smallLogo"/>
  <div>
    <p style="text-align: center">Already have an account?</p>
  <ion-button shape="full" expand="round" href="/login" color="endxiety">Sign in</ion-button>
</div>

<div>
  <p style="text-align: center">Don't have an account?</p>
  <ion-button shape="full" expand="round" href="/signup" color="endxiety">Sign up</ion-button>
</div>
</ion-content>
