<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/feed"></ion-back-button>
      </ion-buttons>
    <ion-title>Symptoms of Anxiety</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" padding='true' class="background">
<ion-list>
  
<ion-card >
    <ion-card-header>
    General Anxiety Disorder
    </ion-card-header>
    <ion-card-content>
     
        <ul class="list">
          <li class="item"> 
            Inability to relax, enjoy quiet time, or be by yourself
          </li>

          <li class="item"> 
            Difficulty concentrating or focusing on things
          </li>

          <li class="item"> 
            Putting things off because you feel overwhelmed
          </li>

          <li class="item"> 
            Avoiding situations that make you anxious
          </li>

          <li class="item"> 
            Feeling tense; having muscle tightness or body aches
          </li>

          <li class="item"> 
            Having trouble falling asleep or staying asleep because your mind won’t quit
          </li>

          <li class="item"> 
            Feeling edgy, restless, or jumpy
          </li>

          <li class="item"> 
            Stomach problems, nausea, diarrhoea.
          </li>

        </ul>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    Panic disorder
    </ion-card-header>
    <ion-card-content>
     
        <ul class="list">
          <li class="item"> 
            Shortness of breath or hyperventilation
          </li>

          <li class="item"> 
            Heart palpitations or racing heart
          </li>

          <li class="item"> 
            Chest pain or discomfort
          </li>

          <li class="item"> 
            Trembling or shaking
          </li>

          <li class="item"> 
            Choking feeling
          </li>

          <li class="item"> 
            Feeling unreal or detached from your surroundings
          </li>

          <li class="item"> 
            Sweating
          </li>

          <li class="item"> 
          Nausea or upset stomach
          </li>
          
          
          <li class="item"> 
          Feeling dizzy, light-headed, or faint
          </li>


            
          <li class="item"> 
        	Numbness or tingling sensations
          </li>


            
          <li class="item"> 
          Hot or cold flashes
          </li>


  
          <li class="item"> 
          Fear of dying, losing control, or going crazy
          </li>
        </ul>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Obsessive-compulsive disorder (OCD)
    </ion-card-header>
    <ion-card-content>
     
        <ul class="list">
          <li class="item"> 
            Fear of being contaminated by germs or dirt or contaminating others
          </li>

          <li class="item"> 
            Fear of losing control and harming yourself or others
          </li>

          <li class="item"> 
            Excessive double-checking of things, such as locks, appliances, and switches
          </li>

          <li class="item"> 
            Repeatedly checking in on loved ones to make sure they’re safe
          </li>

          <li class="item"> 
            Counting, tapping, repeating certain words, or doing other senseless things to reduce anxiety
          </li>

          <li class="item"> 
            Spending a lot of time washing or cleaning
          </li>

          <li class="item"> 
            Ordering or arranging things “just so”
          </li>
        </ul>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Phobias
    </ion-card-header>
    <ion-card-content>
     
        <ul class="list">
          <li class="item"> 
            Difficulty breathing
          </li>

          <li class="item"> 
            Racing or pounding heart
          </li>

          <li class="item"> 
            Chest pain or tightness
          </li>

          <li class="item"> 
            Trembling or shaking
          </li>

          <li class="item"> 
            Feeling dizzy or light-headed
          </li>

          <li class="item"> 
            A churning stomach
          </li>

          <li class="item"> 
            Hot or cold flashes; tingling sensations
          </li>

          <li class="item"> 
            Sweating
          </li>

          <li class="item"> 
            Feeling overwhelming anxiety or panic
          </li>

          <li class="item"> 
            Feeling intense need to escape
          </li>

          <li class="item">
             Fear of losing control or going crazy
          </li>

          <li class="item"> 
            Feeling like you’re going to die or pass out
          </li>

          <li class="item"> 
            Knowing that you’re overreacting, but feeling powerless to control fear
          </li>
        </ul>

    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      Social Anxiety
    </ion-card-header>
    <ion-card-content>
     
        <ul class="list">
          <li class="item"> 
            Excessive self-consciousness and anxiety in everyday social situations
          </li>

          <li class="item"> 
            Intense worry for days, weeks, or even months before an upcoming social situation
          </li>

          <li class="item"> 
            Extreme fear of being watched or judged by others, especially people you don’t know
          </li>

          <li class="item"> 
            Fear that you’ll act in ways that will embarrass or humiliate yourself
          </li>

          <li class="item"> 
            Fear that others will notice that you’re nervous
          </li>

          <li class="item"> 
            Red face, or blushing
          </li>

          <li class="item"> 
            Shortness of breath
          </li>

          <li class="item"> 
            Upset stomach, nausea 
          </li>

          <li class="item"> 
            Trembling or shaking (including shaky voice)
          </li>

          <li class="item"> 
            Racing heart or tightness in chest
          </li>

          <li class="item">
            Sweating or hot flashes
          </li>

          <li class="item"> 
            Feeling dizzy or faint
          </li>

          <li class="item"> 
            Avoiding social situations to a degree that limits your activities or disrupts your life
          </li>

          <li class="item"> 
          Staying quiet or hiding in the background in order to escape notice and embarrassment
          </li>

          <li class="item">
            A need to always bring a buddy along with you wherever you go
          </li>

          <li class="item">  
          Drinking before social situations in order to soothe your nerves
          </li>
        </ul>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Post-traumatic stress disorder (PTSD)
    </ion-card-header>
    <ion-card-content>
        <ul class="list">
          <li class="item"> 
            Re-experiencing the traumatic event through intrusive memories, flashbacks, nightmares, or intense mental or physical reactions when reminded of the trauma.
            </li>

          <li class="item"> 
            Avoidance and numbing, such as avoiding anything that reminds you of the trauma, being unable to remember aspects of the ordeal, a loss of interest in activities and life in general, feeling emotionally numb and detached from others and a sense of a limited future.
          </li>

          <li class="item"> 
            Hyperarousal, including sleep problems, irritability, hypervigilance (on constant “red alert”), feeling jumpy or easily startled, angry outbursts, and aggressive, self-destructive, or reckless behaviour.
          </li>

          <li class="item"> 
            Negative thought and mood changes like feeling alienated and alone, difficulty concentrating or remembering, depression and hopelessness, feeling mistrust and betrayal, and feeling guilt, shame, or self-blame.
          </li>
        </ul>
    </ion-card-content>
  </ion-card>
</ion-list>
  <ion-row>


 


     <ion-col width-50 style="text-align: center">
            
     </ion-col>
    
  </ion-row>
  
</ion-content>